:root {
    /* Color del texto y de toda la pagina principalmente negro y tama;o de la fuente*/
    --bg: #120809;
    font-size: 10px;
  }
  
  body {
    /*Color del fondo y del centro*/
    background-color: #6c4747;
    display: grid;
    font-family: "Roboto Mono", monospace;
    height: 100vh;
    margin: 0;
    place-items: center;
  }
  
  p {
    color: var(--bg);
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
  }
  
  button {
    /*Color del boton*/
    background: var(--bg);
    border-radius: 100px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.9rem;
    outline: none;
    padding: 2rem 4rem;
    text-align: center;
    transition: opacity 0.4s ease-in-out;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    /*Color de el cuadrado de adentro*/
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    height: 360px;
    padding: 40px;
    position: relative;
    width: 50%;
  }
  
  @media only screen and (max-width: 1024px) {
    .container {
      width: 70%;
    }
  }
  
  .color-card {
    /*Color de la tarjeta*/
    background: var(--bg);
    border-radius: 30px 0 30px 30px;
    box-shadow: 0px 0px 40px 20px rgba(44, 44, 44, 0.302);
    height: 280px;
    left: -50px;
    position: absolute;
    top: 40px;
    width: 280px;
  }
  
  .content {
    margin-left: 42%;
  }
  
  .title {
    color: var(--bg);
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .color-number {
    color: var(--bg);
    margin: 30px 0;
  }